---
title: Services
---

<section id="two-column" class="clearfix">
  <h2>{{ page.title }}</h2>
  <div class="left">
    <h3>Counseling for individuals coping with:</h3>
    <ul>
      <li>Attention-deficit/hyperactivity disorder (ADHD)</li>
      <li>Anxiety</li>
      <li>Depression</li>
      <li>Anger management</li>
      <li>Grief &amp; loss</li>
      <li>Self-esteem &amp; identity</li>
      <li>Emotional regulation</li>
      <li>Peer problems (such as friendship skills or bullying)</li>
      <li>Problem-solving strategies</li>
      <li>Family transitions and changes (such as siblings or moving)</li>
    </ul>
  </div>
  <div class="right">
    <h3>Academic support:</h3>
    <ul>
      <li>Individualized Educational Plan (IEP) support</li>
      <li>Study skills</li>
      <li>Classroom consultations and observations</li>
      <li>Executive functioning skills (such as time management, test preparation, long-term project management, organization)</li>
    </ul>
    <h3>Clinical supervision:</h3>
    <p>For those seeking clinical social work licensure in Kansas</p>
  </div>
</section>
<section class="clearfix" id="why-play-therapy">
  <h2>Why Play Therapy?</h2>
  {% for entry in site.data.faqs %}
    {% if entry.question == "What is play therapy?" %}
      <p>{{ entry.answer }}</p>
    {% endif %}
  {% endfor %}
  <p></p>
  <img src="{{ site.baseurl }}/images/play-therapy.png" alt="A photograph of Anne's space in Lawrence, including play therapy resources such as toys and a wall of puppets" title="Why play therapy?" class="office-image">
  <img src="{{ site.baseurl }}/images/office-lawrence.png" alt="A photograph of the waiting area in Anne's space, showing a sofa and a chair" title="Anne's office in Lawrence, Kansas" class="office-image">
</section>
<section>
  <h2>Get Started!</h2>
  <section id="call-to-action">
    <p>I would be delighted to be a part of your family's journey to peace, confidence, and success.</p>
    <p>Email me at {{ site.data.contact.email }} or call me at {{ site.data.contact.phone }} to schedule your consultation.</p>
    <address>
      {{ site.data.contact.street }}<br>
      {{ site.data.contact.unit }}<br>
      {{ site.data.contact.city }}, {{ site.data.contact.state }} {{ site.data.contact.zip }}
    </address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.528761038188!2d-95.3133999!3d38.957592700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87bf6c03afdab7a1%3A0xba679f1c175a8bd3!2s5020%20Bob%20Billings%20Pkwy%20c1%2C%20Lawrence%2C%20KS%2066049!5e0!3m2!1sen!2sus!4v1657242834534!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

</section>
